body {
    font-family: Georgia;
    background-color: wheat;
    font-size: larger;
  }

button {
    font-family:Georgia;
    cursor: pointer;
    font-size: larger;
    border-radius: 40%;
    padding: 0.5em;
    margin: -0.25em;
  }

.guitar {
  width: 45%;
  height: auto;
  margin-bottom: -0.5em;
}

.Header {
  background-image: url(./images/header.png);
  padding: 2em;
  text-align: center;
  color:gold;
}

.nav {
  float: right;
  background-color:rgb(31, 13, 2);
  opacity: 0.75;
  margin-top: 1em;
  padding: 0.5em;
  color: gold;
}
